name: Blue-Green Deploy

on:
  workflow_dispatch:
    inputs:
      target:
        description: "¿A qué color quieres desplegar?"
        required: true
        default: "blue"
        type: choice
        options:
          - blue
          - green

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test -- --watch=false || echo "Tests skipped"

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}     
          username: ${{ secrets.SSH_USER }} 
          key: ${{ secrets.SSH_KEY }}       
          port: 22
          script: |
            cd /home/davidfranco7329/DWP-Frontend-El-dado-de-oro
            git pull || true

            if [ "${{ github.event.inputs.target }}" = "blue" ]; then
              echo "Desplegando BLUE..."
              chmod +x scripts/deploy_blue.sh scripts/switch_to_blue.sh
              ./scripts/deploy_blue.sh
              ./scripts/switch_to_blue.sh
            else
              echo "Desplegando GREEN..."
              chmod +x scripts/deploy_green.sh scripts/switch_to_green.sh
              ./scripts/deploy_green.sh
              ./scripts/switch_to_green.sh
            fi
